<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.standalone.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker3.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker3.standalone.min.css}">


</head>
<body>


	<div class="container">
		<div class="row">
			<div id="calendar" class="align-middle"></div>
		</div>
		<div class="row">
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Entrada   </span>
				</div>
				<input type="time" id="start" min="7:00" max="22:00"
					class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Pausa      </span>
				</div>
				<input type="time" id="pause" min="7:00" max="22:00" class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Fin pausa</span>
				</div>
				<input type="time" id="stopPause" min="7:00" max="22:00" class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Salida      </span>
				</div>
				<input type="time" id="end" min="7:00" max="22:00" class="form-control">
			</div>
		</div>
		<button onclick="saveAllDays()" class="btn btn-primary">Guardar</button>
		<button onclick="saveOneDay()" class="btn btn-primary">Guardar1</button>
		<button onclick="getDays()" class="btn btn-primary">Enviar</button>

	</div>



	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/locale/bootstrap-datepicker.es.min.js}"></script>
	<script type="text/javascript">
		$('#calendar').datepicker({
			language : "es",
			multidate : true,
			multidateSeparator : ",",
			daysOfWeekDisabled : "0,6",
			todayHighlight : true
		});
		function getDays() {
			var days = [];
			$.ajax({
				url : "http://localhost:8080/days",
				type : "GET",
				success : function(response) {
					console.log(response);
					for (var i = 0; i < response.length; i++) {
						days[i] = new Date(response[i]);
					}
					$('#calendar').datepicker('setDates', days);
				},
				error : function(xhr) {
					console.log('Error');
				}
			});

			//console.log($('#calendar').datepicker('getDates'));	
		}

		function saveAllDays() {
			var dates = $('#calendar').datepicker('getDates');
			var days = [];
			var day = [];
			var j = 0;
 		
			for (var i = 0; i < dates.length; i++) {
				days[i] = dates[i].toString();
				day[j] = days[i].substring(0, 16) + $('#start').val().substring(0,3)  + $('#start').val().substring(3,5) + days[i].substring(21) + " START";
				j++;
				day[j] = days[i].substring(0, 16) + $('#pause').val().substring(0,3) + $('#pause').val().substring(3,5)  + days[i].substring(21) + " PAUSE";
				j++;
				day[j] = days[i].substring(0, 16) + $('#stopPause').val().substring(0,3) + $('#stopPause').val().substring(3,5)   + days[i].substring(21) + " STOPPAUSE";
				j++;
				day[j] = days[i].substring(0, 16) + $('#end').val().substring(0,3)  + $('#end').val().substring(3,5)  + days[i].substring(21) + " END";
				j++;
			} 
			console.log(day);
			$.ajax({
				url : "http://localhost:8080/days",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify(day),
				success : function(msg) {
					console.log('OK');
				},
				error : function(xhr, status, error) {
					console.log('Error 1');
				}
			});

			//console.log($('#calendar').datepicker('getDates'));	
			//http://localhost:8080/h2-console
			//https://www.springboottutorial.com/spring-boot-and-h2-in-memory-database
		}
		function saveOneDay() {
			var dates = $('#calendar').datepicker('getDates');
	
			var start = new Date(dates[0].getFullYear(), 0, 0);
			var diff = (dates[0] - start) + ((start.getTimezoneOffset() - dates[0].getTimezoneOffset()) * 60 * 1000);
			var oneDay = 1000 * 60 * 60 * 24;
			var dayNumber = Math.floor(diff / oneDay);
			
			var days = [];
			var day = [];
			days[0] = dates[0].toString();
				day[0] = days[0].substring(0, 16) + $('#start').val().substring(0,3)  + $('#start').val().substring(3,5) + days[0].substring(21) + " START_" + dayNumber;
				day[1] = days[0].substring(0, 16) + $('#pause').val().substring(0,3) + $('#pause').val().substring(3,5)  + days[0].substring(21) + " PAUSE_"+ dayNumber;
				day[2] = days[0].substring(0, 16) + $('#stopPause').val().substring(0,3) + $('#stopPause').val().substring(3,5)   + days[0].substring(21) + " STOPPAUSE_" +dayNumber;
				day[3] = days[0].substring(0, 16) + $('#end').val().substring(0,3)  + $('#end').val().substring(3,5)  + days[0].substring(21) + " END_" +dayNumber;
			
	
			$.ajax({
				url : "http://localhost:8080/day",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify(day),
				success : function(msg) {
					console.log('OK');
				},
				error : function(xhr, status, error) {
					console.log('Error 1');
				}
			});

			//console.log($('#calendar').datepicker('getDates'));	
			//http://localhost:8080/h2-console
			//https://www.springboottutorial.com/spring-boot-and-h2-in-memory-database
		}
	</script>

</body>
</html>