<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.standalone.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker3.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker3.standalone.min.css}">


</head>
<body>


	<div class="container">
		<div class="row">
			<div id="calendar" class="align-middle"></div>
		</div>
		<div class="row">
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Entrada   </span>
				</div>
				<input type="time" id="start" min="7:00" max="22:00"
					class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Pausa      </span>
				</div>
				<input type="time" id="pause" min="7:00" max="22:00"
					class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Fin pausa</span>
				</div>
				<input type="time" id="stopPause" min="7:00" max="22:00"
					class="form-control">
			</div>
			<div class="input-group mb-3 col-md-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Salida      </span>
				</div>
				<input type="time" id="end" min="7:00" max="22:00"
					class="form-control">
			</div>
		</div>
		<button onclick="saveAllDays()" class="btn btn-primary">Guardar</button>
		<button onclick="getDays()" class="btn btn-primary">Enviar</button>


		<table id="table" class="table table-striped table-sm my-3">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Fecha</th>
					<th scope="col">Dia del año</th>
					<th scope="col">Estado</th>
				</tr>
			</thead>
			<tbody id="tbody">

			</tbody>
		</table>


	</div>


	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/locale/bootstrap-datepicker.es.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	
	

</body>
</html>